{%  extends 'base.html' %}

{% block header %}

    Witamy w naszej aplikacji! <br>
    Cieszymy się że chcesz pomagać naszym przyjaciołom z Ukrainy <br>
    Poniżej znajdziesz listę naszych potrzeb: <br>


{% endblock %}

{% block content %}
<table class="table table-striped"}>
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis </th>
            <th>Ilość</th>
            <th>Data dostarczenia</th>
            <th>Kategoria</th>
            <th>Użytkownik</th>
        </tr>
        </thead>
        <tbody>
        {%  for need in current_needs %}
                <tr>
                <td> {{ need.name }} </td>
                <td> {{ need.description }} </td>
                <td> {{ need.amount }}</td>
                <td> {{ need.date }}</td>
                <td>{{ need.category}} </td>
                <td> {{ need.user }}</td>
        {% endfor %}

    </tbody>
   </table>
{% endblock %}